.container
{
	min-width: 400px;
	width: 50%;
	margin: auto;
}
#graph
{
	width: 100%;
	height: 300px;
}
table#main-table
{
	margin: 20px auto;
}
table#main-table,
table#main-table tr,
table#main-table th,
table#main-table td
{
	border-collapse: collapse;
	border: 1px #000 solid;
}
th
{
	background-color: #ccc;
}
th,
td
{
	padding: 5px 10px;
}
td button
{
	width: 100%;
}
table#inner-table,
table#inner-table tr,
table#inner-table th,
table#inner-table td
{
	border: none;
}
#lambda-row,
#mu-row,
#chi-row
{
	display: none;
}